$red: #e12726
$orange: #f18b21
$green: #008345
$blue: #007cc3

html,
body,
div#app
  width: 100%
  height: 100%
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif

section.fill-height
  height: 100%
  display: flex
  flex-direction: column

.full-row
  display: flex
  flex: 1
  align-items: center
  justify-content: space-between
  padding: 0 10%

.line
  font-weight: bold
  text-transform: uppercase

  *
    display: flex

  header
    font-size: 150%
    color: #fff

  .alert-count
    border-radius: 50%
    width: 16px
    height: 16px
    line-height: 16px
    padding: 5px
    background: #fff
    text-align: center
    justify-content: center
    align-items: center

.contents
  flex-grow: 4
  overflow: auto
  align-items: flex-start

  li
    list-style: none

    ul
      padding: 0
      
.red
  &.header
    background-color: $red
    color: $red

  &.contents
    background-color: lighten($red, 5%)

.orange
  &.header
    background-color: $orange
    color: $orange

  &.contents
    background-color: lighten($orange, 5%)

.green
  &.header
    background-color: $green
    color: $green

  &.contents
    background-color: lighten($green, 5%)

.blue
  &.header
    background-color: $blue
    color: $blue

  &.contents
    background-color: lighten($blue, 5%)
